<%= form_for :invoice, url: edit_invoice_admin_purchases_path, html: { method: :patch, remote: true, class: "form-inline invoice_form" } do |f| %>
	<div class="form-group">
		<% val = order.invoice %>
		<%= f.hidden_field :oids, { value: ids.join(",") } %>
		<%= f.text_field :invoice, { value: val } %>		
	</div>
	<%= f.submit "수정", { class: "btn btn-default invoice_submit", type: "reset" } %>
<% end %>