<div class="tab-pane fade" id="T_carry_info">
  <div class="row">
    <div class="col-xs-12">
      <br>
      <ul>
        <li>
          배송형태 : 오빠박스
        </li>
        <li style="padding-top:10px;">
          배송비 : 국내무료배송, 해외별도
        </li>
        <li style="padding-top:10px;">
          배송사 : 일양택배 (국내), UPS (해외)
        </li>
        <li style="padding-top:10px;"> 
          배송기일 : 오후 몇시(전일) ~ 오후 몇시(당일)을 기준으로 당일출고
          <br>
          (오후 몇시 이후 주문건은 주문 다음날 출고 됩니다.)
        </li>
        <li style="padding-top:10px;"> 
          제품에 따라 발송일이 달라질 수 있습니다. (행당 상세페이지 참고)
          <br>
          상품의 재고 상황 및 운송업체(택배사 등)의 사정에 따라 배송이 지연될 수 있음을 양해해 주시기 바랍니다.
        </li>
        <li style="padding-top:10px;">
          공휴일 및 휴일은 배송기간에 포함되지 않습니다. 
        </li>
        <li style="padding-top:10px;">
          주소불명이나, 연락처 오류, 연락불가 등의 사유로 반송되어진 제품의 배송비는 구매자 부담이오니 반드시 연락 가능한 연락처와 주소를 기입해 주시기 바랍니다. 
        </li>
        <li style="padding-top:10px;">
          제주 및 도서산간 지역은 추가로 배송비 발생시 고객부담.
          <br>
          (해외 도서산간 지역은 추가 배송비는 고객부담.)
        </li>
      </ul>
    </div>
  </div>
</div>
