<div class="tab-pane fade" id="T_info">
  <div class="row">
    <div class="col-xs-12">
      <br>
      <ul>
        <li> 
          교환 및 반품안내 : 02-794-5558 (Email : privacy@oppabox.com)
        </li>
        <li style="padding-top:10px;">
          교환/반품 신청 기간
          <br>
          상품 수령 후 7일 이내에 02-794-5558 (Email : privacy@oppabox.com)로 교환 및 반품 신청
          (오빠박스 고객센터 또는 국내(일양택배), 해외(UPS)로 반품요청 주시기 바랍니다.)
        </li>
        <li style="padding-top:10px;">
          제품 하자 및 오배송에 의한 환불/교환
          <br>
          오빠박스 부담이므로 상품만 보내주시면 됩니다.
        </li>
        <li style="padding-top:10px;">
          단순변심에 의한 환불/교환
          <br>
          국내 왕복배송비 5,400원을 박스에 동봉해서 보내주세요.
          <br>
          (해외직배송의 경우 별도왕복배송비가 측정됩니다.)
          <br><br>
          반송 및 제품에 이상이 없을 경우 환불/교환이 진행됩니다.
          <br>
          (재고가 없는 경우 환불처리 될 수 있습니다.)
          <br><br>
          환불 또는 교환은 구매박스(제품) 상품 수령 후 7일 이내에 02-794-5558 (Email : privacy@oppabox.com)로 교환 및 반품 신청 해주시기 바랍니다.
        </li>
        <li style="padding-top:10px;">
          교환/반품 불가 사유
          <br><br>
          고객님의 단순변심으로 인한 교환/반품 요청이 상품을 수령한 날로부터 7일을 경과한 경우 <br>
          뷰티 경우 트러블이 발생으로 경우 진료 확인서 및 소견서 등 증빙 시 환불 가능 <br>
          (이 경우, 제반 비용은 고객님께서 부담) <br>
          포장을 개봉하여 사용 또는 일부 소비에 의하여 상품 등의 가치가 현저히 감소된 경우<br>
          상품을 개봉하여 설치/장착으로 상품의 가치가 훼손 된 경우 <br>
          고객님의 책임 있는 사유로 상품등의 가치가 심하게 파손되거나 훼손된 경우 <br>
          구매하신 상품의 구성품(사은품포함)이 누락된 경우<br>
          전자상거래 등에서 소비자보호에 관한 법률이 정하는 청약철회 제한 사유에 해당되는 경우<br>
          주문제작 상품의 경우 제작발주 후에는 구매취소 및 교환, 환불이 불가합니다.
        </li>
      </ul>
    </div>
  </div>
</div>
