<body>
  <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="text-align: center;">
    <tr>
      <td align="center" valign="top" bgcolor="ECECEC">
        <table width="600" border="0" cellpadding="0" style="padding-bottom:30px; border: none;">
          <tr>
            <td>
              <div style="height:100px; padding-top:10px;">
                <a href="http://www.oppabox.com" target="_blank"><img src="http://www.oppabox.com/images/mail/top_white.png" style="-moz-box-shadow: 0px 1.5px 1.3px #b4b4b4; -webkit-box-shadow: 0px 1.5px 1.3px #b4b4b4; box-shadow: 0px 1.5px 1.3px #b4b4b4;" alt="Thank you for sign up"></a>
              </div>
            </td>
          </tr>
          <tr>
            <td align="center" bgcolor="ffffff" style="padding-left:20px; padding-right:20px; -moz-box-shadow: 0px 1.5px 1.3px #b4b4b4; -webkit-box-shadow: 0px 1.5px 1.3px #b4b4b4; box-shadow: 0px 1.5px 1.3px #b4b4b4; font-size:12px !important;">
              <div style="padding-top:35px;"></div>
              <h3 style="font-weight:bold; font-size:25px; margin:0px;"><%=t('signup_success')%></h3>
              <div style="padding-top:35px;"></div>
              <div id="hr_line" style="height:2px; border-top: 1px solid #b4b4b4"></div>
              <br>
              <p style="font-size:18px; font-weight:bold;">Global Shopping Mall</p>
              <p style="font-size:18px; font-weight:bold;">OPPABOX</p>
              <p style="font-size:18px; font-weight:bold;">Bringing happiness to you everyday</p>
              <br>
              <p style="font-size:18px; font-weight:bold;">Thank you.</p>
              <br>
              <p style="font-size:16px; text-align: center;"> Email : <%= @user.email %> </p>
              <br>
              <div style="padding-top:25px;"></div>
              <a href="http://www.oppabox.com/" style="color:#000;">www.oppabox.com</a>
              <div style="padding-top:25px;"></div>
            </td>
          </tr>

        </table>
      </td>
    </tr>
  </table>
</body>
