<div class="container-fluid">
	<div class="row">

		<div class="col-md-3">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3><i class="fa fa-retweet"></i> Check List</h3>
				</div>
				<div class="panel-body">
					<ul class="things-to-do">
						<li>
							<p>
								<i class="fa fa-user fa-2x"></i>
								<span class="text-danger"><%= current_admin_user.orders.on_ordering.count %></span>
								Accept User Registration
								<a class="btn btn-success pull-right" href="#">Go</a>
							</p>
						</li>
						<li>
							<p>
								<i class="fa fa-comments fa-2x"></i>
								<span class="text-danger">14</span>
								Review Comments
								<a class="btn btn-success" href="#">Go</a>
							</p>
						</li>
						<li>
							<p>
								<i class="fa fa-shopping-cart blue fa-2x"></i>
								<span class="text-danger">7</span>
								Pending Orders
								<a class="btn btn-success" href="#">Go</a>
							</p>
						</li>
						<li>
							<p>
								<i class="fa fa-file-text-o fa-2x"></i>
								<span class="text-danger">4</span>
								New Invoice
								<a class="btn btn-success" href="#">Go</a>
							</p>
						</li>
						<li>
							<p>
								<i class="fa fa-gear fa-2x"></i>
								<span class="text-danger">3</span>
								Settings To Change
								<a class="btn btn-success" href="#">Go</a>
							</p>
						</li>
					</ul>
				</div>
			</div>
		</div>

	</div>
</div>