<div class="container">
	<div class="row">
		<div class="col-md-4">
			<%= render partial: "check_list" %>
		</div>
		<div class="col-md-8">
			<%= render partial: "sell" %>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-12">
			<%= render partial: "status_list" %>
		</div>
	</div>
</div>