<div class="container">
  <h3 class="text-center form-signin-heading"><%= t('signup_add_email') %></h3>
  <hr>
  <div style="height:20px;">&nbsp;</div>
  <div style="height:20px;">&nbsp;</div>
  <h4 class="text-center"><%= t('signup_add_email_description') %></h4>
  <div class="form-signin" role="form">
    <input id="signup_add_email" type="email" class="form-control user-info-input" required autofocus>
    <div style="height:20px;">&nbsp;</div>
    <button class="btn btn-default btn-block user-info-submit" id="signup_add_email"><%= t('signup_add_email_complete') %></button>
  </div>
</div>
