<div class="container" id="main_image">
  <div class="row">
    <img src="img/1100x450.png" class="center-block img-thumbnail">
  </div>
</div>
  
<!-- 이미지 -->
<div class="container">
  <div class="row">
    <div class="col-md-12">

    <% 0.upto(7) do %>
      <div class="col-md-3 col-xs-6 text-center">
        <div class="box_view">
          <a href="/item/view">
           <img src="img/300x300.png" class="img-responsive">
         </a>
          <a href="/item/view">
            <h4 class="product_title">BOX</h4>
          </a>
        </div>
      </div>
    <% end %>

    </div>
  </div>
</div>
