<div class="container">
  <div class="row box_">
  </div>
</div>
  
<!-- 이미지 -->
<div id="product_imgbox" class="container">
  <div class="row">
    <div class="col-md-12">

    <% 0.upto(7) do %>
      <div class="col-md-3 text-center">
        <div class="col-md-12 box_">
          <a href="/item/view">
            <img src="http://image.slidesharecdn.com/railsroutingfromtheoutsidein-140918063702-phpapp02/95/rails-routing-from-the-outside-in-1-638.jpg?cb=1411085929" class="img-thumbnail">
            <h4> BOX </h4>
          </a>
        </div>
      </div>
    <% end %>

    </div>
  </div>
</div>
