<div class="container">
  <h2 class="text-center form-signin-heading"><%= t('menu_signup') %></h2>
  <hr>
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <%# 회원가입 폼 시작 -%>
      <form action="/" method="POST" class="form-horizontal" role="form">
        <div class="form-group" >
          <label for="input_email" class="col-md-2 control-label">이메일</label>
          <div class="col-md-3">
            <input type="text" class="form-control" id="inputId3" name="id">
          </div>
        </div>
        <!-- end -->

        <!-- 비밀번호 -->
        <div class="form-group">
          <label for="inputPassword3" class="col-md-2 control-label">비밀번호</label>
          <div class="col-md-3">
            <input type="password" class="form-control" id="inputPassword3" name="password">
          </div>
        </div>

        <div class="form-group">
          <label for="inputConfirmPassword3" class="col-md-2 control-label">비밀번호 확인</label>
          <div class="col-md-3">
            <input type="password" class="form-control"size="16" id="inputConfirmPassword3" name="confirm_password">
          </div>
        </div>
        <!-- end -->

          <!-- 이름 -->
        <div class="form-group" >
          <label for="inputName3" class="col-md-2 control-label">이 름</label>
          <div class="col-md-3">
            <input type="text" class="form-control" id="inputName3" name="name">
          </div>
        </div>
        <!-- end -->

        <!-- 주소 -->
        <div class="form-group">
              <label for="inputPostcode3" class="col-md-2 control-label">주소</label>
              <div class="col-md-10">
                  <input type="text" class="form-control post_box" style="" name="code1" id="inputPostcode1" readonly="readonly">
                  <span class="text-center post_span">-</span>
                  <input type="text" class="form-control post_box" name="code2" id="inputPostcode2" readonly="readonly">
                  <a href="#" class="btn btn-default post_button" title="우편번호 검색" style="" onclick="" id="btnpost">우편번호</a>

                  <div class="col-md-8 padx_left">
                    <input type="text" class="form-control post-addr" name="addr1" readonly="readonly" id="addr1">
            </div>
            <div class="col-md-8 padx_left">
                    <input type="text" class="form-control post-addr" name="addr2" id="addr2">
            </div>
              </div>
          </div>
          <!-- end -->

          <!-- 휴대전화 -->
          <div class="form-group">
          </div>
          <!-- end -->

          <!-- 뉴스레터 -->
        <div class="form-group">
          <label for="inpuNews3" class="col-md-2 control-label">뉴스래터</label>
              <div class="col-md-10">
                <div class="radio col-xs-6 padx_left">
                <label>
                    <input type="radio" name="nChk_info" value="Y">수신함
                  </label>
                  &nbsp;
                  <label>
                    <input type="radio" name="nChk_info" value="N">수신안함
                  </label>
                  </div>
              </div>
          </div>
          <!-- end -->

          <!-- 확인 , 취소 -->
        <div class="form-group">
          <div class="text-center">
                <button type="submit" class="btn btn-primary">회원가입</button>
                &nbsp;&nbsp;
                <button type="cancel" class="btn btn-default">취소</button>
            </div>
        </div>
        <!-- end -->
      </form>
      <!-- End -->
    </div>
  </div>
</div>
