<div class="container">
  <div class="row box_wrap">
    <div class="col-md-offset-1 col-md-10">
      <form role="form">
        <div class="form-group">
          <label for="id">I  D</label>
          <input type="email" class="form-control" id="id" placeholder="Enter your ID">
        </div>
        <div class="form-group">
          <label for="passwd">Password</label>
          <input type="password" class="form-control" id="passwd" placeholder="Password">
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"> Auto login
          </label>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
  </div>
</div>