<div class="container">
  <h2 class="text-center form-signin-heading"><%= t('signup_step1') %></h2>
  <hr>
<div class="jumbotron" style="height:300px;overflow:scroll">
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin semper eleifend pretium. Nam sit amet mi pellentesque, dignissim risus ut, rhoncus ex. Donec nisi ligula, imperdiet vel suscipit eu, imperdiet et nisi. Aenean tincidunt, nunc eget rutrum aliquam, elit elit iaculis diam, ac mattis tellus massa vel ante. Curabitur imperdiet accumsan quam, ultricies scelerisque quam ullamcorper ut. Vestibulum nec facilisis lorem, a porta urna. Cras pellentesque consectetur odio, in congue magna fringilla nec. Phasellus ultricies ligula ut dolor molestie bibendum. Aenean et condimentum urna, sed pellentesque nunc. Etiam tristique, eros quis tincidunt pharetra, mi nibh aliquet tortor, id dignissim felis tellus vel eros. Proin maximus lorem eu ante finibus lacinia. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a odio varius, pulvinar diam sed, sollicitudin odio. Cras dignissim sem augue, varius fringilla mi varius sit amet.

Cras pellentesque eros turpis. Nulla sit amet orci sit amet nulla elementum dapibus sit amet sit amet tortor. Donec aliquam, nulla at porttitor porttitor, metus ligula commodo tortor, scelerisque feugiat neque orci nec leo. Curabitur sit amet tincidunt turpis, vel mollis lectus. In hendrerit dolor vel egestas viverra. Donec venenatis scelerisque euismod. Donec faucibus, nunc ac dignissim porttitor, turpis nulla scelerisque augue, nec facilisis leo sapien eu justo. Nunc eget est eu ligula rutrum vestibulum. Aliquam gravida, turpis et consequat consequat, ipsum dui laoreet odio, eu condimentum urna ligula vitae nulla.

Suspendisse metus libero, sollicitudin vel tincidunt vitae, lobortis id tortor. Ut a magna pellentesque dolor vehicula bibendum vel dignissim nisi. Mauris ut nisi vel lorem maximus porta. Sed tincidunt tellus felis, eget interdum nulla volutpat eu. Etiam ligula metus, ultricies ornare luctus sit amet, iaculis sit amet mauris. Integer mi felis, tincidunt vel sem non, euismod semper lectus. Fusce laoreet mauris odio, vitae mollis purus interdum sit amet. Suspendisse vulputate quis libero eu porttitor. Sed ornare porttitor faucibus. Integer turpis tellus, ultricies sit amet aliquet quis, auctor vitae odio. Mauris vestibulum gravida ligula, et sollicitudin odio commodo a. In scelerisque sit amet velit vitae tincidunt. Praesent sodales maximus urna.

Donec scelerisque augue eu dolor rhoncus, nec scelerisque velit laoreet. Vestibulum mauris erat, feugiat vitae lacus quis, rhoncus varius nisl. Nulla maximus, mauris sit amet imperdiet sagittis, magna tortor fringilla tortor, condimentum commodo nisi erat quis magna. Maecenas lacus enim, hendrerit a scelerisque eget, laoreet et leo. Donec malesuada lacus a nisl condimentum, quis sagittis dui accumsan. Ut mauris velit, vehicula non leo quis, pharetra laoreet odio. Praesent vehicula risus id velit faucibus varius. Suspendisse iaculis, purus a lobortis mattis, eros enim commodo risus, a rhoncus odio ex eget sapien. Quisque ut leo risus. Nulla pulvinar turpis eu porta fermentum. Pellentesque lacinia efficitur odio, et ullamcorper eros imperdiet sit amet.

Phasellus efficitur quis libero in maximus. Vestibulum at sollicitudin dui, quis aliquet ligula. Mauris tristique mauris ac tincidunt accumsan. Sed gravida, mi a accumsan faucibus, purus leo egestas velit, et maximus purus dui ut neque. Aliquam tristique molestie dapibus. Mauris at ultrices risus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras leo sapien, ultrices scelerisque lacinia vitae, facilisis vel justo.
</p>
</div>
<div class="text-center" style="margin-top:50px;margin-bottom:50px;">
  <button type="button" class="btn btn-lg btn-default"><%= t('toa_disaggreement') %></button>
  &nbsp; &nbsp; &nbsp;
  <a href="/home/step2"><button type="button" class="btn btn-lg btn-primary">&nbsp;<%= t('toa_aggreement')%>&nbsp;</button></a>
</div>
</div> <!-- /container -->
