<div class="container">
  <h2 class="text-center form-signin-heading"><%= t('signup_step3') %></h2>
  <hr>
  <div class="form-signin" role="form" style="max-width:480px;">
    <%=render partial: "/home/user_detail_info"%>
    <div class="text-center" style="margin-top:30px;margin-bottom:50px;">
      <a href="/"><button type="button" class="btn btn-lg btn-default"><%= t('signup_step3_incomplete') %></button></a>
      &nbsp; &nbsp; &nbsp;
      <button id="signup_step3_button" type="button" class="btn btn-lg btn-primary">&nbsp;<%= t('signup_step3_complete')%>&nbsp;</button>
    </div>
  </div>
</div>
