<div class="container" style="padding:30px 20px">
  <div class="row text-center welcome_oppabox">
      <div style="margin-bottom:20px">
        <img src="<%= asset_path 'oppabox.png'%>" class="img-responsive img-center" width="100">
      </div>
      <div style="font-size:25px;">
        <span style="font-weight:bold"><%=t('signup_success')%></span>
      </div>
      <div>
        <br>
        <p style="font-size:25px; font-weight:bold;">Thank you.</p>
        <br>
        <p style="font-size:20px; font-weight:bold;">Global Shopping Mall</p>
        <p style="font-size:24px; font-weight:bold;">oppabox</p>
        <p style="font-size:20px; font-weight:bold;">Bringing happiness to you everyday</p>
      </div>
      <%#
      <div>
        <p style="font-size:16px;">회원님의 아이디, 비밀번호 정보는 아래와 같습니다.</p>
      </div>
      
      <div class="row">
        <div class="col-xs-5 col-sm-6 col-md-6">
          <p class="text-right" style="margin-right:15px;">Email</p>
        </div>
        <div class="col-xs-7 col-sm-6 col-md-6">
          <p class="text-left" style="font-weight:bold;">jigm1539@oppabox.com</p>
        </div>
      </div>
      <div class="row">
          <div class="col-xs-5 col-sm-6 col-md-6">
          <p class="text-right" style="margin-right:15px;">Password</p>
        </div>
        <div class="col-xs-7 col-sm-6 col-md-6">
          <p class="text-left" style="font-weight:bold;">asdf****</p>
        </div>
      </div>
      %>
      <hr>
      <a href="/"><button class="btn btn-danger"><%=t('signup_success_home')%></button></a>
  </div>
</div>
