<%= image_head HOME_IMAGE %>
<%#= item_body @items %>
<a href="/item/view">임시링크</a><br>
<a href="/item/skinrx_set1">뷰티박스 셋1</a><br>
<a href="/item/skinrx_set2">뷰티박스 셋2</a><br>
<a href="/item/skinrx_set3">뷰티박스 셋3</a><br>
<a href="/item/skinrx_set4">뷰티박스 셋4</a><br>
