<div class="well">
  <div class="row" style="margin-bottom:10px;font-weight:bold;font-size:16px;">
    <div class="col-md-4 col-xs-4 right-border"><p class="text-center">상품명</p></div>
    <div class="col-md-4 col-xs-4 right-border"><p class="text-center">판매가</p></div>
    <div class="col-md-2 col-xs-2"><p class="text-center">-</p></div>
    <div class="col-md-2 col-xs-2"><p class="text-center">-</p></div>
  </div>
  <% 0.upto(3) do %>
  <div class="row">
    <div class="col-md-4 col-xs-4 "><p class="text-center">스킨 브라이트닝 셋트</p></div>
    <div class="col-md-4 col-xs-4 "><p class="text-center">38,000원</p></div>
    <div class="col-md-2 col-xs-2"><p class="text-center"><a href="#">주문</a></div>
    <div class="col-md-2 col-xs-2"><p class="text-center"><a href="#">삭제</a></div>
  </div>
  <% end %>
</div>
