<div class="container">
  <div class="row" >
    <h3 class="tit_order box">주문내역</h3>
  </div>

  <div class="row delivery_info" style="padding:0px;">
    <h3 class="tit_order_info">배송정보</h3>
    <!-- div -->
    <form method="GET" action="/pay/success">
      <!-- 아이템 -->
      <div class="col-md-8 product_leftbox">
				<!-- 가격수량총계 -->
        <div class="col-md-12 product_item_box">
          <div class="col-md-7 col-sm-7 product_item_info">
            <label>아이템</label>
            <div class="row">
              <div class="col-sm-12 item_img">
                <a href="/home/view" class="figure">
                  <span class="figure_img">
                    <img class="img_product_item"src="http://image.slidesharecdn.com/railsroutingfromtheoutsidein-140918063702-phpapp02/95/rails-routing-from-the-outside-in-1-638.jpg?cb=1411085929">
                  </span>
                </a>

                <b class="figcaption iblock">Galleryl Dress Pump by Steve Madden
                  <span class="detail ">
                    <em>
                      <small>선택사항</small>
                      <select class="form-control" data-siid="394020" data-cid="2212557" data-sicid="8484561">
                        <option value="897356" selected="">US Women's Size 6</option>
                        <option value="897358">US Women's Size 6.5</option>
                        <option value="897360">US Women's Size 7</option>
                        <option value="897362">US Women's Size 7.5</option>
                        <option value="897364">US Women's Size 8</option>
                        <option value="897366">US Women's Size 8.5</option>
                        <option value="897368">US Women's Size 9</option>
                        <option value="897370">US Women's Size 10</option>
                      </select>
                    </em>
                    <em class="arrival"><small>예상 도착일: </small> <span>11/13 - 11/20</span></em>
                  </span>
                </b>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-2 " style="margin-top:15px; padding-right:0px;">
            <div class="row">
              <div class="col-xs-3 col-sm-12 col-md-12 text-center">
                <label>가격</label>
              </div>
              <div class="col-xs-3 col-sm-12 col-md-12 text-center">
                <p>56,000\</p>
              </div>
            </div>
          </div>

          <div class="col-md-1 col-sm-1 " style="margin-top:15px; padding-right:0px;">
            <div class="row">
              <div class="col-xs-3 col-sm-12 col-md-12 text-center" style="padding-left:0px; padding-right:0px;">
                <label>수량</label>
              </div>
              <div class="col-xs-3 col-sm-12 col-md-12 text-center" style="padding-left:0px; padding-right:0px;">
                <input type="number" style="width:60px; " min="1" max="1000"  value="1">
              </div>
            </div>
          </div>

          <div class="col-md-2  col-sm-2" style="margin-top:15px;">
            <div class="row">
              <div class="col-xs-3 col-sm-12 col-md-12 text-center">
                <label>총계</label>
              </div>
              <div class="col-xs-3 col-sm-12 col-md-12 text-center" style="padding-left:0px; padding-right:0px;">
                <p>56,000\</p>
              </div>
            </div>
          </div>
          <div class="address">
            <label class=""> 배송지 정보 </label>
            <div class="form-group">
              <label for="inputName3" class="col-xs-3 col-sm-5 col-md-5 control-label">이 름</label>
              <div class="col-xs-4">
                <p> 김영중 </p>
              </div>
              
              <label for="" class="col-xs-3 col-sm-5 col-md-5 control-label location_info" style="padding-right:0px; padding-top:1px;">전화번호</label> <!--location_info 는 항목들을 종으로 정렬해주기 위한 clear:both가 들어가있음 -->
              <div class="col-xs-4">
              	<p> <input type="tel"> </p>
              </div>
              
              <label for="" class="col-xs-3 col-sm-5 col-md-5 control-label location_info" style="padding-right:0px; padding-top:2px;">우편번호</label>
              <div class="col-xs-4">
              	<p> <input type="text"> </p>
              </div>
              
              <label for="" class="col-xs-3 col-sm-5 col-md-5 control-label location_info" style="padding-top:3px;">주소</label>
              <div class="col-xs-4">
              	<p> <input type="text"> </p>
              </div>
            </div>
          </div> 
        </div>
        <!-- /아이템/가격/수량/총계-->
        <hr class="hide_field">
      </div>

      <!-- 배송지 선택 -->
      <div class="col-md-4" style="margin-top:0px; height:100%;">
        <div class="col-md-12" style="padding:15px;">
          <dl>
            <dt>배송 방법</dt>
            <dd>
              <div>
                  <div class="radio">
										<label>
                    	<input type="radio" name="carry_q" value="Tcarry" CHECKED>택배(이미지)
										</label>
                  </div>
              </div>
            </dd>
          </dl>
          <dl>
            <dt>결제 방법</dt>
            <dd>
              <div>
                  <div class="radio">
										<label>
                    	<input type="radio" name="pay" value="Card" CHECKED>신용카드
										</label>
                  </div>
                  <div class="radio">
										<label>
                    	<input type="radio" name="pay" value="HomeBank">계좌이체
										</label>
                  </div>
									<div class="radio">
										<label>
											<input type="radio" name="pay" value="ATM">무통장 입금
										</label>
									</div>
              </div>
            </dd>
          </dl>

          <!-- total -->
          <ul class="padx">
            <li class="li_none">
              <span class="left">소계</span>
              <span class="right">$1000 <small>USD</small></span><br>
            </li>
            <li class="li_none">
              <span class="left">배송</span>
              <span class="right">$25 <small>USD</small></span><br>
            </li>
            <li class="li_none">
              <span class="left">세금</span>
              <span class="right">$0 <small>USD</small></span><br>
            </li>

            <li class="total li_none" data-totalprice="">
              <em class="after">
                <span class="left"><b>총 주문 내역</b></span>
                <span class="right"><b>$1025.00</b> <small>USD</small></span><br>
              </em>
            </li>
          </ul>

          <div class="form-group">
            <div class="text-center ">
              <button type="submit" class="btn btn-primary btn-width">구매하기</button>
            </div>
            &nbsp;
            <div class="text-center">
              <button type="cancel" class=" btn btn-default btn-width" >취 소</button>
            </div>
          </div>
          <!-- total end -->
        </div>
      </div>
    </form>
    <!--div-->
  </div>
</div>