<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p class="text-center success_thanks"><label><strong>주</strong>문해 주셔서</label> 감사합니다.</p>
      <hr>
      <p>*고객님의 주문상세내역 입니다.</p>
      <p>*oppabox에서 0000년 00월 00일 주문하신 내역입니다. 고맙습니다.</p>
      <div class="container">
        <div class="well" style="padding: 19px 19px 5px 19px;">
          <div class="row" style="margin-bottom:10px;font-weight:bold;font-size:16px;">
            <div class="col-md-4 col-xs-4 right-border"><p class="text-center"><%= t('order_confirm_product_name') %></p></div>
            <div class="col-md-2 col-xs-2 right-border"><p class="text-center"><%= t('order_confirm_price') %></p></div>
            <div class="col-md-2 col-xs-2 right-border"><p class="text-center"><%= t('order_confirm_quantity') %></p></div>
            <div class="col-md-2 col-xs-2 "><p class="text-center"><%= t('order_confirm_sum') %></p></div>
          </div>
          <div class="row">
            <label class="success_tot_price" style="padding-right:14px;">(배송료 2,500원 포함)<strong> 201300210원</strong></label>
          </div>
        </div>
          <div class="success_info">
            <div><label>-결제방법</label>신용카드</div>
            <div><label>-결제금액</label>0원</div>
            <div><label>-배달주소</label>서울</div>
            <div><label>-받는사람</label>김병규</div>
            <div><label>-전화번호</label>010-43-34</div>
            <div><label>-주문메모</label>ㅎ</div>
          </div>
        <hr>
        <p class="text-center">
          <button class="btn btn-primary" style="margin-right:10px;">홈으로</button><button class="btn btn-danger">다른상품 보러가기</button>
        </p>
      </div>
    </div>
  </div>
</div>