// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";


// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
// td.col-address {
// 	min-width: 180px;
// }

body {
	font-size: 12px !important;
	#sidebar {
		.filter_string_range {
			input {
				margin-left: 0;
				width: 88px;
			}
			.seperator {
				display: inline-block;
				text-align: center;
				width: 12px;
			}
		}
	}
}

p {
	margin: 0;
	padding: 0;
}

hr {
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}

a, a:link, a:visited {
	color: #333333;
	text-decoration: none;
}

.panel, .sidebar_section {
	background: #f4f4f4 !important;
	-webkit-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
	border-radius: 4px !important;
	box-shadow: inset 0 1px 4px #dddddd !important;
	-moz-box-shadow: inset 0 1px 4px #dddddd !important;
	-webkit-box-shadow: inset 0 1px 4px #dddddd !important;
	margin-bottom: 20px !important;
	border: none !important;

	input {
		box-sizing: content-box;
	}
	label {
		text-align: left;
	}
}

.btn-danger, .btn-info, .btn-success, .btn-warning, .btn-primary {
	color: #fff !important;
}

.margin_p {
	margin-top: 5px;
	margin-bottom: 5px;
}

.index_table {
	td, th {
		vertical-align: middle !important;
    min-width: 50px !important;
    text-align:center;
	}
}

.detail_table {
	td, th {
		vertical-align: middle !important;
		text-align: center;
	}
}

.option_table {
	td, th {
		vertical-align: middle !important;
		background: white !important;
    min-width: 45px;
    text-align: center;
	}
	margin: 0 !important;
}

form input.form-control {
	width: 100%;
}

div.nested-col {
		padding-left: 7px;
		padding-right: 7px;
}

.tab_input {
	border: none;
	background-color: rgba(0, 0, 0, 0);
	cursor: pointer;
}

.tab-content {
	background: white;
	border-top: none;
}

.purchase_label {
	label {
		color: #5e6469;
		font-size: 1.5em;
	}
	margin-bottom: 10px;
}

.img-center {
  margin: auto;
  text-align: center;
}

.admin_dashboard {
	.panel-heading {
		h3 {
			margin-top: 5px;
			margin-bottom: -5px;
		}
	}

	.panel-body > ul > li {
		border-bottom: 1px solid #f5f5f5;
		list-style: none;
		padding-top: 10px;



		i {
			width: 35px;
		}

		span {
			margin-left: 18px;
			margin-right: 18px;
		}
	}

	.panel-body {
		background-color: white;
		font-size: 15px;
	}

	.dashboard_table {
		background: white;
		border-bottom: 1px solid #ddd !important;
		border-left: 1px solid #ddd !important;
		border-right: 1px solid #ddd !important;
		font-size: 14px;

		td {
			vertical-align: middle;
			padding-left: 20px;
			padding-right: 20px;
		}
		.active {
			text-align: center;
			padding: 8px;

		}
	}

	.graph {
		font-size: 14px;

		ul.nav {
			margin-right: 0;
		}

		.dropdown-menu {
			max-height: 300px;
			overflow-y: scroll;
		}

		.placeholder {
			width: 100%;
			height: 300px;
		}

		input {
			width: 110px;
		}
		.datepicker {
			background: white image-url("active_admin/datepicker/datepicker-input-icon.png") no-repeat 100% 10px;
			padding-right: 27px;
		}
	}
}

#option_form td th{
  min-width: 50px;
}

.ui-datepicker-header {
	padding-bottom: 15px !important;
	margin-right: 2px !important;
	width: 156px !important;
}

.nested_table {
	td {
		border-bottom: none !important;
		border-top: 1px solid #e8e8e8;
	}

	tr:first-child td {
		border-top: none;
	}
}

// customize admin user new form
form.admin_user {
	label {
		display: block;
		color: #5e6469;
		font-size: 1.0em;
		font-weight: bold;
		margin: 0;
		line-height: 2.7;
	}
}