// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
td.col-address {
	min-width: 180px;
}

a.btn-normal {
	border-radius: 4px;
	font-size: 14px;
	font-weight: bold;
	line-height: 200%;
	text-decoration: none !important;
	background: white;
	background: -webkit-linear-gradient(-90deg, white, #e7e7e7);
	background: -moz-linear-gradient(-90deg, white, #e7e7e7);
	background: linear, 180deg, white, #e7e7e7;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(255, 255, 255, 0.8) inset;
	border: solid 1px #c7c7c7;
	border-color: #c7c7c7;
	padding: 3px 5px;
	color: #5e6469 !important;
}

td a.btn-danger {
	border-radius: 4px;
	font-size: 14px;
	letter-spacing: 0.5px;
	line-height: 200%;
	text-decoration: none !important;
	background: #d45f53;
	background: -webkit-linear-gradient(-90deg, #d45f53, #d05a49);
	background: -moz-linear-gradient(-90deg, #d45f53, #d05a49);
	background: linear, 180deg, #d45f53, #d05a49;
	border: solid 1px #b43f33;
	border-color: #b43f33;
	padding: 3px 5px;
	color: #ffffff !important;
}

button a.btn-normal {
	color: white;
	text-decoration: none;
}