/*
 *= require_tree .
 *= require_self
 */
body {
  padding-top: 70px;
}

footer {
  border-top: 1px solid #e7e7e7;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  background: #f8f8f8;
}

footer p{
  margin-bottom:5px;
}
