/*
 *= require_self
 *= require bootstrap.min
 *= require box
 *= require home
 *= require item
 *= require mypage
 *= require pay
 */
body {
  padding-top: 70px;
}

footer {
  border-top: 1px solid #e7e7e7;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  background: #f8f8f8;
}

footer p{
  margin-bottom:5px;
}
