/*
 *= require_self
 *= require bootstrap.min
 *= require box
 *= require home
 *= require item
 *= require mypage
 *= require pay
 */
body {
  padding-top: 70px;
}

footer {
  border-top: 1px solid #e7e7e7;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  background: #f8f8f8;
}

footer p{
  margin-bottom:5px;
}

/* 부트스트랩3 에서 사라진 dropdown-submenu */
.dropdown-submenu {
	position: relative;
}
.dropdown-submenu > .dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	-webkit-border-radius: 0 0px 4px 4px;
		 -moz-border-radius: 0 0px 4px 4px;
					border-radius: 0 0px 4px 4px;
}
.dropdown-submenu:hover > .dropdown-menu {
	display: block;
}
.dropdown-submenu > a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #ccc;
	margin-top: 5px;
	margin-right: -10px;
}
.dropdown-submenu:hover > a:after {
	border-left-color: #fff;
}
.dropdown-submenu.pull-left {
	float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
	left: -100%;
	margin-left: 10px;
	-webkit-border-radius: 6px 0 6px 6px;
		 -moz-border-radius: 6px 0 6px 6px;
					border-radius: 6px 0 6px 6px;
}