#main_image{
  margin-bottom:30px;
}
.box_view {
  padding:  0;
  background: #fff;
  margin: 0px 8px 15px 8px;
}
.box_view a {
  text-decoration: none !important;
  color: #000;
}
.box_view a:hover {
  color: #525252;
}
.box_view a img {
  border: 1px solid #a9a9a9;
}

.product_title {
  margin-top:0px;
  font-size: 17px;
  font-weight: 600;
  padding: 10px 0 10px 0;
}

.index_row_padding {
  padding: 0 15px 0 15px;
}
.index_box_padding {
  padding-left:0; padding-right:0;
}

.index_img_margin {
  margin-top:15px;
}

.pad-left-10 {
  padding-left: 10px;
}
.iblock {
  display: inline-block;
}

//회원가입
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  //height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
#signin_button{
  margin-top:10px;
}
.form_divide{
  margin-top:10px;
}
.top-margin{
  margin-top:10px;
}
.agreement {
  height:450px;
  overflow:scroll
}
.agreement p {
  font-size: 13px !important;
}
