// Place all the styles related to the myapge controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tit_box{
  line-height: 3px;
  padding: 18px 15px;
  border: 1px solid #D9D9DA;
  border-color: #D9D9DA #D3D3D4 #C9C9CA;
  background: #F1F2F3;
  margin-bottom: 18px;
  margin-left: 10px;
  margin-right: 10px;
}
.bold {
  font-weight: bold;
}

.info_box {
  padding: 18px 15px;
  border-bottom: 1px solid #D9D9DA;
  border-left: 1px solid #D9D9DA;
  border-right: 1px solid #D9D9DA;
  border-color: #D9D9DA #D3D3D4 #C9C9CA;
  background: #fff;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow:hidden;
}

.mag_bot_0 {
  margin-bottom: 0;
}
.mag_top_0 {
  margin-top: 0;
}

.products_img {
  top: 0;
  left: -146px;
  overflow: hidden;
}
.detail_info {
  display: inline-block;
  color: #383d48;
  margin-top:15px;
  padding-left:5px;
  line-height:25px;
}

.list_img_pad {
  padding-left:15px;
  padding-right:0px;
  padding-top:10px;
}

.btn-mag {
  margin-left:10px;
}

.nav_mid {
  margin-top:7px;
}

.info_label_pad {
  margin-top:5px;
}
.total_price {
  float: right;
  padding-right: 20px;
}

.hr-height {
  margin-top: 10px;
}


/* 구매내역 */
.left_navi li a {
  color: #525252;
  font-weight: 600;
  margin-bottom:0;
}
.left_navi li a:hover {
  color: #fff;
}
.left_navi .active a {
  background-color: #525252 !important;
}
.left_navi .active li a {
  color: #000;
}

.list_cell td a {
  text-decoration: none !important;
  color: #000;
  font-weight: bold;
}
.list_cell td a:hover {
  color: #525252;
}
.list_cell td, .align_middle th {
  vertical-align: middle !important;
}