// Place all the styles related to the pay controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// success
#success_txt strong {
  font-size: 25px;
}
#success_txt p {
  margin-top: 20px;
  font-size: 20px;
}
#success_txt hr {
  margin-bottom: 40px;
}

.success_label {
  font-size:40px;
}
.recommend {
  margin-top:30px;
  padding-left:10px;
  padding-right:10px;
}
.recommend_label {
  padding-left:15px;
  font-size:20px;
}
.success_tot_price{
  float:right;
}
.success_tot_price strong{
  color:#f14949;
}
.success_info{
  margin-left:30px;
}
.success_info label{
  margin-right: 10px;
  color:#892;
}
.success_thanks::first-letter {
  font-size: 150%;
  font-weight: bold;
  color: red;
}
// order

.order_link{
  color:#888;
  margin-left:20px;
}
.right-border{
  border-right: 1px solid #ccc;
}
.o_quantity{
  width: 40%;
}


.display_link a {
  text-decoration: none !important;
  font-weight: 600;
  color: #000;
}
.display_link a:hover {
  color: #4D4D4D;
}

.order_link a {
  text-decoration: none !important;
  font-weight: 500;
  color: #000;
}
.order_link a:hover {
  color: #4D4D4D;
}

.delete_link a {
  text-decoration: none !important;
  color: #ff0039;
}
.delete_link a:hover {
  color: #cc002e;
}
