<div class="col-md-2 ">
  <ul class="nav nav-pills nav-stacked">
    <li>
      <h3><%= t('mypage_title') %></h3>
    </li>
    <li><a href="/mypage/info"><%=t('mypage_info')%></a></li>
    <li><a href="/mypage/list"><%=t('mypage_list')%></a></li>
    <li><a href="/mypage/carry"><%=t('mypage_carry')%></a></li>
  </ul>
</div>
