<div class="container">
  <div class="row">
    <%= render :partial => "left_list" %>
  <div class="col-md-10 col-xs-10">
    <hr>
    <%= render partial: "pay/basket_list" %>
  </div>
</div> <!-- /container -->
