<div class="container">
 <div class="row box_">
  <div class="col-sm-2">
   <ul class="nav nav-pills nav-stacked">
    <li class="sidebar-brand">
     <h3> MyPage </h3>
    </li>
    <li class="active">
     <a href="/mypage/list">구매 내역</a>
    </li>
    <li>
     <a href="/mypage/carry">배송 정보</a>
    </li>
   </ul>
  </div>

  <div class="col-sm-10">
   <h4>구매 내역</h4>
   <hr>
   <!---------------- 주문한 상품 정보 ---------------->
   <div class="row padx">
    <div class="col-md-12 padx">
     <div class="tit_box mag_bot_0">
      <span class="left bold">2014.11.04</span>
      <a href="#" class="right bold">상세보기></a>
     </div>
    </div>
    <div class="col-md-12 padx mag_top_0">
     <div class="info_box">
      <div class="col-md-12 padx mag_top_0">
       <label>상품명</label>
       <button tyle="button" class="btn-primary">문의하기</button>
      </div>
     </div>
    </div>
   </div>
   <!---------------- 주문한 상품 정보 ---------------->
  </div>
 </div>
</div>