<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <ul class="nav nav-pills nav-stacked">
        <li class="sidebar-brand">
          <h3> MyPage </h3>
        </li>
        <li class="active">
          <a href="/mypage/list">구매 내역</a>
        </li>
        <li>
          <a href="/mypage/carry">배송 정보</a>
        </li>
      </ul>
    </div>

    <div class="col-sm-10">
      <h4>구매 내역</h4>
      <hr>
      <!-- 주문한 상품 정보 -->
      <div class="row padx">
        <div class="col-md-12 padx">
          <div class="tit_box mag_bot_0">
            <span class="left bold">2014.11.04</span>
            <a href="#" class="right bold">상세보기＞</a>
          </div>
        </div>

        <div class="col-md-12 padx mag_top_0">
          <div class="info_box">
            <div class="col-md-12 padx mag_top_0">
              <label>Galleryl Dress Pump by Steve Madden</label>
              <div class="row">
                <div class="col-sm-6 item_img">
                  <b class="detail_info">
                    <img class="img_product_item"src="img/123.png">
                    <span class="detail iblock">
                      <small>주문번호 : </small><span>00000000</span>
                      <br><br>
                      <small>선택사항 : </small><span>US Women's Size 6.5</span>
                      <br><br>
                      <small>배송번호 : </small><span>00000000</span>
                    </span>
                  </b>
                </div>
                <div class="col-sm-6 ">
                  <textarea maxlengh="1000" class="box_tf" placeholder="문의사항을 입력해 주세요. Email로 답변해 드립니다."></textarea>
                </div>
              </div>

              <hr>
              <div class="col-md-12">
                <b class="left"> 배송 준비중 </b>
                <button type="button" class="btn btn-primary right">배송추적</button>
                <button type="button" class="btn btn-defualt right">문의하기</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /주문한 상품 정보 -->
    </div>
  </div>
</div>


              <!-- 배송중 옆에 붙이기 <button tyle="button" class="btn-primary">문의하기</button> -->