<footer>
    <br>
    <p class="text-center">주식회사 오빠박스</p>
    <p class="text-center">서울시 용산구 한남동 1-38번지 에스더하우스 지하1층<br>사업자등록번호 : 261-81-12788<br>개인정보관리책임자 : 전영훈(privacy@oppabox.com)
    </p>
    <p class="text-center">© OPPABOX 2014</p>
    <br>
</footer>